doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title アンケート
  body
    h1 あなたはどっち派？
    p #{theme} といったら…
    form(method="post", action=path)
      div
        label
          span 名前: 
          input(type="text", name="name")
      div
        label
          input(type="radio", name="favorite", value=firstItem)
          span #{firstItem} 
      div
        label
          input(type="radio", name="favorite", value=secondItem)
          span #{secondItem} 
      button(type="submit") 投稿